/*main layout css */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #eee;
    font-family: 'Roboto Condensed', sans-serif;
}

body .container {
    position: static;
    width: 450px;
    height: 10%;
    margin: auto;
    align-content: center;
    float: center;
    background-color: white;
    text-align: left;
    padding-top: 80px;
}

p {
    color: black;
}