#nav-bar {
    position: fixed;
    /*background-color: #010f57;*/
    background: linear-gradient(to right, #33ccff 0%, #0099ff 100%);
    height: 90px;
    width: 100%;
    color: #e8fdff;
    padding-left: 1em;
    padding-right: 2em;
    z-index: 999;
}

#nav-bar .logo {
    height: 85px;
    width: 125px;
    float: left;
}

#nav-bar .header {
    float: left;
    line-height: 2.5em;
    font-size: 2em;
    padding-left: 10px;
}

.fa {
    font-family: 'Roboto Condensed', sans-serif;
}