/*Global layout stuff*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    color: #244751;
    background-color: #eee;
}